@charset 'UTF-8';

@import 'node_modules/sanitize.css/sanitize';

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);

	h1 {
		color: #fff;
		font-family: 'arial';
		font-weight: 100;
		text-transform: uppercase;
		letter-spacing: 5px;
	}
}
